<<<<<<< HEAD
<%= form_tag users_path, method: :get do %>

  <div class="field">
    <%= label_tag :username %><br />
	<%= text_field_tag :username, '' %><br />

  </div>
  
  <div class="actions">
    <%= submit_tag 'Find Users' %>
  </div>
<% end %>
=======
<%= form_tag users_path, method: :get do %>

  <div class="field">
    <%= label_tag :username %><br />
	<%= text_field_tag :username, '' %><br />

  </div>
  
  <div class="actions">
    <%= submit_tag 'Find Users' %>
  </div>
<% end %>
>>>>>>> added bootstrap
