<h1>Profile</h1>
<%= form_for @user do |f| %>

  <%= f.fields_for :post do |p| %>

<div class="field">
    <%= p.label :name %>
	<br />
	<%= p.text_field :name, disabled: true %>
	<br />
<div class="field">
    <%= p.label :event %>
	<br />
	<%= p.text_field :event, disabled: true %>
	<br />
<div class="field">
    <%= p.label :activity %>
	<br />
	<%= p.text_field :activity, disabled: true %>
	<br />
<div class="field">
    <%= p.label :activity_unit %>
	<br />
	<%= p.text_field :activity_unit, disabled: true %>
	<br />
	<% end %>
<% end %>
