<<<<<<< HEAD
<h1>Pledge Tracker</h1>

<%= link_to('Login', new_user_session_path) if current_user.nil? %>  
</br>
 <%= link_to('Logout', destroy_user_session_path, :method => :delete) unless current_user.nil? %>   
 </br>
<%= link_to "Sponser", users_path %>
=======
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://flip.hr/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
	<h1>Pledge Tracker</h1>
	<%= link_to('Login', new_user_session_path)  %>  
	</br>
	 <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   
 	</br>
	<%= link_to "Sponser", greetings_hello_path %>
	</div>
</body>
</html>
>>>>>>> added bootstrap
